@import 'modus-operandi-palette.css';

@font-face {
	font-family: "Inter";
	src: url('../fonts/Inter/Inter-VariableFont_opsz,wght.ttf');
}


:root {
	--font-primary: "Inter";
	--font-mono: "Go Mono";
}

body {
	color: rgb(var(--fg-main));
	background-color: rgb(var(--bg-main));
	font-family: var(--font-primary);
}

h1 {
	text-align: center;
}

.btn {
	border-radius: 0px;
}

.btn-primary {
	--bs-btn-color: rgb(var(--blue));
	--bs-btn-bg: rgb(var(--bg-alt));
	--bs-btn-border-color: rgba(var(--blue),0.5);
	--bs-btn-hover-border-color: rgb(var(--fg-alt));
	--bs-btn-hover-color: rgb(var(--fg-alt));
	--bs-btn-hover-bg: rgb(var(--bg-main));
	--bs-btn-active-color: rgb(var(--bg-alt));
	--bs-btn-active-bg: rgb(var(--bg-alt));
	border-width: 0px 0px 0px 5px;
}
.btn-primary:hover {
	border-color: rgba(var(--blue),0.5);
	border-width: 0px 0px 0px 5px;
	outline: 1px solid rgba(var(--blue),0.5);
	outline-width: 0px 1px 0px 0px;
}

.container {
	padding-top: 20vh;;
}

.col {
	padding-top: 1.0em;
}

.weatherwidget-io {
	margin-top: 2.0em;
}
#clock {
	color: rgba(var(--blue),1.0);
	font-family: "Inter";
	font-size: 32px;
	font-weight: 200;
	letter-spacing: 0.08em;
	margin: 1.0em;
	padding: 0.4em 1em;
	border-radius: 0;
	background: transparent;
	box-shadow: none;
	border: 2px solid rgba(var(--blue),1.0);
	display: inline-block;
	min-width: 12ch;
	text-align: center;
	font-variant-numeric: tabular-nums; /* Ensures consistent number width */
}
